################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Samples/DeferredUpdate/DeferredUpdate_HighLevelApp/.vs
