################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Samples/HTTPS/HTTPS_Curl_Easy/.vs
